@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .sidebar {
    @apply fixed top-0 left-0 h-screen w-16
      flex flex-col
      bg-gray-300 text-gray-900
      transition-background
      select-none
      dark:bg-gray-900 dark:text-white z-50
  }



  .sidebar-icon {
    @apply relative flex items-center justify-center
      h-12 w-12 my-2 mx-auto
      text-lg
      bg-gray-200 text-gray-800
      hover:bg-brand hover:text-gray-200
      rounded-3xl hover:rounded-xl
      cursor-pointer
      transition-all ease-linear
      dark:bg-gray-800 dark:text-white
      dark:hover:bg-brand;
  }

  .sidebar-icon.green {
    @apply text-green-600 hover:text-gray-200
      hover:bg-green-600 dark:hover:bg-green-600
  }

  .sidebar-icon.chosen {
    @apply bg-brand text-gray-200
      rounded-xl
      dark:text-white;
  }

  .sidebar-icon.chosen.green {
    @apply bg-green-600
  }



  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
      rounded-md shadow-md
      bg-gray-300 text-gray-900
      text-sm font-semibold
      transition-all duration-100 scale-0 origin-left
      dark:text-white dark:bg-gray-900 z-10
  }



  .sidebar-bar {
    @apply absolute left-[-8px] /* (64 - 48) / 2 */
      h-0 w-0
      bg-black rounded-r-xl
      transition-all duration-100
      group-hover:h-5 group-hover:w-1
      dark:bg-white
  }

  .sidebar-icon.chosen .sidebar-bar {
    @apply h-10 w-1
  }



  .sidebar .dividing-line {
    @apply self-center h-[2px] w-8
      bg-gray-400 dark:bg-gray-800
      transition-all ease-linear
  }
}